html {
    height:100%;
    overflow:hidden;
}

body {
    margin:0;
    background-color:#55B9A7;
    height:100%;
    padding:0 !important;
    background: rgb(248,208,148);
    background: linear-gradient(0deg, rgba(248,208,148,1) 0%, rgba(252,181,118,1) 100%);
}

#game-loading-container {
    position:absolute;
    width:100%;
    height:100%;
    z-index:0;
    background-color:#55B9A7;
}

.game-loading {
    width: 100%;
    height: 100%;
    padding-top: 0;
    margin: unset;
    max-width: unset;
}

.game-loading__ed {
    display: block;
    height: 150px;
    margin-bottom: 22px;
    margin: 0 auto;
}

#error-div {
    width: 100%;
    height: 100%;
    color: #363636;
}

#error-panel {
    width: 500px;
    height: 358px;
    margin: auto;
    background-size: contain;
    background-image: url(../images/error-backing-5e9d1c1344.png);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#error-title {
    font-family: Paytone One;
    font-size: 36px;
    line-height: 1.28;
    text-align: center;
    position: relative;
    left: 50%;
    top: 35px;
    transform: translateX(-50%);
}

#error-text {
    font-family: ABeeZee;
    font-size: 18px;
    line-height: 1.56;
    text-align: center;
    position: relative;
    left: 50%;
    top: 20px;
    width: 400px;
    transform: translateX(-50%);
}

#try-again-button {
    background-size: contain;
    background-image: url(../images/try-again-button-3cf5ba077c.png);
    width: 181px;
    height: 60px;
    position: relative;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
}

#try-again-button:hover {
    background-image: url(../images/try-again-button-hover-9904c9f9b8.png);
}

#try-again-button:active {
    background-image: url(../images/try-again-button-active-bf0e7cb892.png);
}


#try-again-button p {
    display: block;
    font-family: Paytone One;
    font-size: 18px;
    line-height: 1.44;
    text-align: center;
    color: #363636;
    position: relative;
    top: 14px;
    left: 12px;
}

#error-icon {
    position: relative;
    left: 50%;
    top: 55px;
    transform: translateX(-50%);
}

#error-button-arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 15px;
    top: 18px;
}

@media only screen and (max-width: 768px) {
    
    #error-panel {
        width: 300px;
        height: 215px;
    }
    
    #error-title {
        font-size: 20px;
        top: 27px;
    }
    
    #error-text {
        font-size: 12px;
        top: 20px;
    }
    
    #try-again-button {
        width: 115px;
        height: 38px;
        top: 20px;
    }
    
    #try-again-button p {
        font-size: 12px;
        left: 7px;
        top: 9px
    }
    
    #error-icon {
        top: 30px;
        width: 32px;
        height: 32px;
    }
    
    #error-button-arrow {
        width: 12px;
        height: 12px;
        left: 10px;
        top: 12px;
    }
}
